@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  padding-bottom: 25px;
  border-radius: 4px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 2px 12px 6px rgba(222, 222, 222, 1);
  -moz-box-shadow: 0px 2px 12px 6px rgba(222, 222, 222, 1);
  box-shadow: 0px 2px 12px 6px rgba(222, 222, 222, 1);
}

.Bookstore-CMS {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.books {
  color: #121212;
}

.categories {
  opacity: 0.5;
  color: #121212;
}

.material-icons {
  margin-left: 650px;
  color: #0290ff;
}

nav {
  letter-spacing: 1.9px;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  font-size: 13px;
  font-family: Montserrat;
  background-color: #ffffff;
}

nav li {
  list-style-type: none;
  margin-right: 30px;
}

@media only screen and (max-width: 700px) {
  nav {
    padding: 20px;
  }

  .material-icons {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1270px) {
  nav {
    padding: 20px;
  }

  .material-icons {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 585px) {
  nav {
    padding: 15px;
    font-size: 12px;
  }

  .Bookstore-CMS {
    font-size: 18px;
  }

  .material-icons {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 492px) {
  nav {
    padding: 10px;
    font-size: 10px;
  }

  .Bookstore-CMS {
    font-size: 17px;
  }

  .material-icons {
    margin-left: 0;
  }
}